@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
}

body {
    min-height: 100%;
    background-color: #e3f2fd;
}

nav {
    position:fixed;
    top: 0;
    left: 0;
    height:70px;
    width:100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.logo .logo_icon {
    font-size: 24px;
    color: #333;
    margin-right: 14px;
    cursor: pointer;
}

.logo .logo_name {
    color: #333;
    font-size: 22px;
    font-weight: 500;
}

nav .slide_bar {
    position:fixed;
    top: 0;
    left: -100%;
    height:100%;
    width: 260px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

nav.open .slide_bar {
    left:0
}

.slide_bar .slide_content {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height:100%;
    padding: 30px 16px;
}

.slide_content .list {
    list-style: none;
}

.list .nav_link {
    display:flex;
    align-items: center;
    text-decoration: none;
    padding: 14px 12px;
    border-radius: 8px;
}

.list .nav_link:hover {
    background-color:#4070f4;

}

.nav_link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
}

.nav_link .link {
    font-size: 16px;
    font-weight: 400;
    color: #707070;
}
.nav_link:hover .icon , .nav_link:hover .link {
    color: #fff;
}

.overLay {
    position:fixed;
    top: 0;
    left:-100%;
    background-color: rgba(0, 0, 0, 0.3);
    width:200%;
    height:1000vh;
    transition: all 0.4s ease;
    pointer-events: none;
    opacity: 0;
   
}

nav.open ~ .overLay {
    opacity: 1;
    pointer-events: auto;
    left:260px;
}